--title "EBNF parser and parser generator"
--output-dir doc/yard
--protected
--no-private
--hide-void-return
--markup markdown
--readme README.md
lib/**/*.rb
examples/**/*.rb
-
AUTHORS
CREDITS
VERSION
UNLICENSE
etc/ebnf.ebnf
etc/ebnf.ll1.sxp
etc/ebnf.peg.sxp
examples/**/README.md
examples/**/*.rb
